body {
    font-family: 'Arial', sans-serif;
    /* margin: 0; */
    padding: 0;
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
    margin-top: 0px;
}




header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}


.logo {
    display: flex;
    align-items: center;
}

